<a href="https://colab.research.google.com/github/Tlentz14/Spoon-Knife/blob/main/HW5_tyler_lentz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Homework 5: Pandas I

**Objective:**   

To practice using pandas for data manipulation and analysis.

**Directions:**  

Use *pandas functions* to complete the tasks listed below.

Clearly show relevant work.  

You will need to refer to pandas documentation, web sources, etc (this is planned!)

If you are having trouble, keep track (e.g., code comments or markdown) of what you tried or how you were logically thinking about the problem.

**Submission:**

Submit the html export of your Juypter Notebook to Canvas.

TOTAL POINTS: 20

---

In [12]:
# import pandas and seaborn
import pandas as pd
import seaborn as sns

In [13]:
taxis = sns.load_dataset('taxis')

---

## Dataset Exploration  

1. Explore the dataset using:
* `.tail()`
* `.info()`
* `len()`
* `.shape`
* `.describe()`  

After each code chunk insert a markdown chunk and describe what each of these is doing (1 sentence each)

*10 points*

In [14]:
# .tail() code
taxis.tail()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

Describe the output of `.tail()` in this Markdown chunk.

In [15]:
# .tail() returned the last 5 rows of taxis' dataframe

In [16]:
# .info() code
taxis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

Describe the output of `.info()` in this Markdown chunk.

In [17]:
# prints a concise summary of the dataframe.  Information provided included the # of columns, column labels, column data type, non-null count (# of cells per column), and memory usage

In [19]:
# .len() code
len(taxis)

6433

In [ ]:
#returns the length of the data frame

Describe the output of `.len()` in this Markdown chunk.

In [21]:
# .shape() code
taxis.shape

(6433, 14)

In [ ]:
#the data set has two dimensions, one with 6433 elements and one with 14

Describe the output of `.shape()` in this Markdown chunk.

In [23]:
# .describe() code
taxis.describe()

,passengers,distance,fare,tip,tolls,total
count,6433.000000,6433.000000,6433.000000,6433.00000,6433.000000,6433.000000
mean,1.539251,3.024617,13.091073,1.97922,0.325273,18.517794
std,1.203768,3.827867,11.551804,2.44856,1.415267,13.815570
min,0.000000,0.000000,1.000000,0.00000,0.000000,1.300000
25%,1.000000,0.980000,6.500000,0.00000,0.000000,10.800000
50%,1.000000,1.640000,9.500000,1.70000,0.000000,14.160000
75%,2.000000,3.210000,15.000000,2.80000,0.000000,20.300000
max,6.000000,36.700000,150.000000,33.20000,24.020000,174.820000

Describe the output of `.shape()` in this Markdown chunk.

In [ ]:
# provides summary statistics which divulge helpful information about the dataframe (count, mean std, min/max, and quartiles)

---

## Data Subsetting & Analysis

2. Answer the following the question using good subsetting techniques:
* What is the difference in fare between rides with 1 passenger and rides with 2+ passengers for rides that took place exclusively in Manhattan?

*5 points*

In [ ]:
# subset needed columns


# filter by borough

In [ ]:
# bin data on passengers
# hint: create new column that specifies if there was 1 passenger or more than 1 passenger

In [ ]:
# calculate the mean for fares between the two different groups. Final output should be  in table format

How much more did rides with 2 or more passengers pay in fare? Answer in this markdown chunk.

3. What is the average fare for rides paid in cash (round to the near 2 decimal places)?

*2 points*

In [ ]:
# subset needed columns

# filter by payment type

# calculate mean

4. Tally the number of rides starting in each pick-up zone. Display the top five results.

Note: do not use a for-loop

*2 point*

5. What percentage of rides did not tip?

*1 points*

In [ ]:
# subset and calculate